* {
    box-sizing: border-box;
}

:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
   :root {
    --background-color: #253443;
    --text-color: #FFFFFF;
    } 
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("../imges/auth_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: auto;
    height: min-content;
    margin-top: 190px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 5px #E62052;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p {
    font-size: 32px;
    font-family: "Dela Gothic One";
    color: var(--text-color);
    margin: 0;
}

.awesome-form {
    margin: 100px auto auto auto;
    width: 30%;
    height: min-content;
}

.awesome-form p {
    font-family: "Open Sans";
    font-size: 36px;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.awesome-form input[type="text"] {
    width: 100%;
    height: min-content;
    text-align: center;
    margin-bottom: 15px;
    padding: 9px;
    border: solid 1.5px #5C4A98;
    border-radius: 20px;
    background-color: var(--background-color);
    font-family: "Open Sans";
    font-size: 16px;
    color: var(--text-color);
}

.awesome-form input[type="text"]::placeholder {
    color: var(--text-color);
}

.awesome-form .inline-input-container {
    width: 100%;
    height: min-content;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.inline-input-container .left-part {
    width: 47%;
    min-width: 100px;
    align-self: flex-start;
}

.inline-input-container .right-part {
    width: 47%;
    min-width: 100px;
    align-self: flex-end;
}

.awesome-form .awesome-button {
    width: 100%;
    height: min-content;
    padding: 4px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px #000000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    background-color: #E62052;
    color: #FFFFFF;
}

.awesome-button:hover {
    color: #000000;
}

